body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(235, 222, 252);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
  background-color: rgb(197, 177, 245);
  padding: 30px;
  margin: 50% auto;
  border-radius: 8px;

}
input{
  display: block;
  width: 360px;
  height: 25px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
h4 {
  background-color: rgb(125, 46, 161);
  height: 40px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
select{
  display: block;
  width: 360px;
  height: 25px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}